@media (max-width: 1000px) {

.tabmenu {
font-size: 20px;
}

.tabmenu-right {
position: relative;
right: 11px;
top: 2px;
z-index: 3333;
width: 100%;
text-align: center;
margin: 12px 0;
}

.tabmenu li.selected a {
color: #FF4500;

border: 1px solid #5f99cf;
background-color: #eff7ff;
z-index: 100;
}


.large-thumb .thing {

max-width: 85%;

}



.side {
	display:none;
}


      }