
.loading {
height: 50px;
position:relative;
top:250px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}


.loadingS {
height: 50px;
width:50px;
position:relative;
left:10px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}


#header-bottom-right .separator {
	margin: 0ex;
}

#sr-header-area .seperator {

	margin: 0 .5ex;
}


.thumbnailSmall {
	padding:5px;
	width: 90px !important;
	height:70px !important;
	float:left;
}

.thumbnailSmall img {

height: 70px;
width: 90px;

}


.tabmenu-right {
position:relative;
left:65px;
z-index: 3333;
}

.large-thumb {
max-width: 100%;
text-align: center;
margin-bottom: 10px;
}


.small-thumb-for-large-view  {
margin-top:3px;
max-height:45px;
}

.large-img{
max-width: 98%;
margin: 1%;

  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
    box-shadow: 3px 3px 3px #7C7C7C;
}

.large-thumb .thing {
background-color:#EFF7FF;
border: 1px solid #5f99cf;
max-width:100%;
text-align: left;
margin: 0px auto 8px auto;
}

.large-thumblink {
	text-align: center;
}

.board-item {
width: 320px;
}

.board-column {
margin-left: 10px;
width: 328px;

display: inline-block;
vertical-align: top;
}

#board {
line-height: 0;
text-align: center;
}



#theLogin .status
{
	font-size:10px;
	color:red;
}

#commentarea {
	margin-left:20px;
}


.embed img {
padding: 0 5px;
background-color: #fafafa;
border: 1px solid #369;
border-radius: 7px;
display:block;
padding:5px;

}


.expando {
clear:none;
margin:5px;
}

#retry {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/


}

 .success {
 	color:blue;
 }

 .give-gold {
color: #9A7D2E!important;
}


.singlePostPage {
	margin-top:38px;
}