
.loading {
height: 50px;
position:relative;
top:250px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}

#siteTable {
	min-height:300px;
}

#header-bottom-right .separator {
	margin: 0ex;
}

#sr-header-area .seperator {

	margin: 0 .5ex;
}


.thumbnailSmall {

	width: 90px !important;
	height:70px !important;
}

.thumbnailSmall img {

height: 70px;
width: 90px;

}