<div id="siteTable_t1_cbtuyaq" class="sitetable listing">
	<div class="thing id-t1_cbtwuth morechildren " data-fullname="{{model.id}}">
		<p class="parent">
		</p>
		<div class="entry unvoted">
			<div class="collapsed" style="display:none">
			</div>
			<div class="noncollapsed">
				<p class="tagline">
				</p>
				<span class="morecomments">
				<a style="font-size: smaller; font-weight: bold" class="button MOAR{{model.id}}"  href="#" >load more comments<span class="gray">&nbsp;({{model.childrenCount}} {{model.replyVerb}})</span></a></span>
				<ul class="flat-list buttons">
				</ul>
			</div>
		</div>
		<div class="child">
		</div>
		<div class="clearleft">
			<!--IE6sux-->
		</div>
	</div>
	<div class="clearleft">
		<!--IE6sux-->
	</div>
</div>