<div id="header">
        <a href="#content" id="jumpToContent" tabindex="1">jump to content</a>

        <div id="sr-header-area">
            <div class="width-clip">
                <div class="dropdown srdrop drop-down-header-toggle" >
                    <span class="selected title">my subreddits</span>
                </div>

                <!-- append subreddits here -->
                <div class="drop-choices srdrop drop-down-header"></div>

                <div class="sr-list">
                    <ul class="flat-list sr-bar hover">
                        <li>
                            <a href="/">front</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "/r/all/">all</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a class="random"
                            href="/r/random/">random</a>
                        </li>
                    </ul><span class="separator">&nbsp;|&nbsp;</span>

<!-- append subreddits here -->
<ul class="flat-list sr-bar hover" id="sr-bar">


                    </ul>
                </div><a href="/subreddits/" id=
                "sr-more-link">more »</a>
            </div>
        </div>

        <div id="header-bottom-left">
            <a href="/" id="header-img-a" title="The front page of the internet, in Javascript">
                <img  id="header-img" src='img/logo.png'></a>&nbsp;

                <span class="hover pagename redditname">
                    <a class='pagename-a' href=''></a></span>

            <ul class="tabmenu">
                <li class="selected">
                    <a class='hot' href="/hot/">hot</a>
                </li>

                <li>
                    <a class='new' href="/new/">new</a>
                </li>

                <li>
                    <a class='rising' href="/rising/">rising</a>
                </li>

                <li>
                    <a class='controversial' href="/controversial/">controversial</a>
                </li>

                <li>
                    <a class='top' href='/top/'>top</a>
                </li>

<span  class="tabmenu-right">
     <li id='normal' data-name='normal' class="selected">
                    <a class='normal' href="#">Normal</a>
                </li>
                <li id='small' data-name='small'>
                    <a class='small-thumbnails' href="#">Thumbnails</a>
                </li>
                  <li id='grid' data-name='grid'>
                    <a class='grid' href="#">Grid</a>
                </li>
                <li id='large' data-name='large'>
                    <a class='large-images' href="#">Full</a>
                </li>
</span>


            </ul>
        </div>

<!-- Where the userbar is displayed -->
<div id="header-bottom-right"> </div>


    </div>
 