<div id="header">
        <a href="#content" id="jumpToContent" tabindex="1">jump to content</a>

        <div id="sr-header-area">
            <div class="width-clip">
                <div class="dropdown srdrop" >
                    <span class="selected title">my subreddits</span>
                </div>

                <div class="drop-choices srdrop">
                    <a class="choice" href=
                    "http://www.reddit.com/r/AdviceAnimals/">AdviceAnimals</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/announcements/">announcements</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/AskReddit/">AskReddit</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/askscience/">askscience</a><a class="choice"
                    href="http://www.reddit.com/r/aww/">aww</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/bestof/">bestof</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/blog/">blog</a><a class="choice"
                    href="http://www.reddit.com/r/books/">books</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/EarthPorn/">EarthPorn</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/explainlikeimfive/">explainlikeimfive</a><a class="choice"
                    href="http://www.reddit.com/r/funny/">funny</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/gaming/">gaming</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/gifs/">gifs</a><a class="choice"
                    href="http://www.reddit.com/r/IAmA/">IAmA</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/movies/">movies</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/Music/">Music</a><a class="choice"
                    href="http://www.reddit.com/r/news/">news</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/pics/">pics</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/science/">science</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/technology/">technology</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/television/">television</a><a class="choice"
                    href=
                    "http://www.reddit.com/r/todayilearned/">todayilearned</a><a class="choice"
                    href="http://www.reddit.com/r/videos/">videos</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/worldnews/">worldnews</a><a class=
                    "choice" href=
                    "http://www.reddit.com/r/WTF/">WTF</a><a class=
                    "choice bottom-option" href=
                    "http://www.reddit.com/subreddits/">edit subscriptions</a>
                </div>

                <div class="sr-list">
                    <ul class="flat-list sr-bar hover">
                        <li>
                            <a href="http://www.reddit.com/">front</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/all/">all</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a class="random"
                            href="http://www.reddit.com/r/random/">random</a>
                        </li>
                    </ul><span class="separator">&nbsp;|&nbsp;</span>

                    <ul class="flat-list sr-bar hover" id="sr-bar">
                        <li class="selected">
                            <a href="http://www.reddit.com/r/pics/">pics</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/funny/">funny</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/gaming/">gaming</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/AskReddit/">AskReddit</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/worldnews/">worldnews</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/news/">news</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/videos/">videos</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/IAmA/">IAmA</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/todayilearned/">todayilearned</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/WTF/">WTF</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/aww/">aww</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/technology/">technology</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/AdviceAnimals/">AdviceAnimals</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/science/">science</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/Music/">Music</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/movies/">movies</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/bestof/">bestof</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/books/">books</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/EarthPorn/">EarthPorn</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/explainlikeimfive/">explainlikeimfive</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/gifs/">gifs</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/television/">television</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/askscience/">askscience</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/cringepics/">cringepics</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/leagueoflegends/">leagueoflegends</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/reactiongifs/">reactiongifs</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/politics/">politics</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/pokemon/">pokemon</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/4chan/">4chan</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/Minecraft/">Minecraft</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/circlejerk/">circlejerk</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/MakeupAddiction/">MakeupAddiction</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/gentlemanboners/">gentlemanboners</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/DotA2/">DotA2</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/fffffffuuuuuuuuuuuu/">fffffffuuuuuuuuuuuu</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/soccer/">soccer</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/breakingbad/">breakingbad</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/atheism/">atheism</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/starcraft/">starcraft</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/woahdude/">woahdude</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/cats/">cats</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/skyrim/">skyrim</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/nba/">nba</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/mylittlepony/">mylittlepony</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/conspiracy/">conspiracy</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/fatpeoplestories/">fatpeoplestories</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/facepalm/">facepalm</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/teenagers/">teenagers</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/hiphopheads/">hiphopheads</a>
                        </li>

                        <li>
                            <span class="separator">-</span><a href=
                            "http://www.reddit.com/r/Jokes/">Jokes</a>
                        </li>
                    </ul>
                </div><a href="http://www.reddit.com/subreddits/" id=
                "sr-more-link">more »</a>
            </div>
        </div>

        <div id="header-bottom-left">
            <a href="/" id="header-img-a" title="The front page of the internet, in Javascript">
                <img  id="header-img" src='img/logo.png'></a>&nbsp;

                <span class="hover pagename redditname">
                    <a class='pagename-a' href=''></a></span>

            <ul class="tabmenu">
                <li class="selected">
                    <a class='hot' href="/hot/">hot</a>
                </li>

                <li>
                    <a class='new' href="/new/">new</a>
                </li>

                <li>
                    <a class='rising' href="/rising/">rising</a>
                </li>

                <li>
                    <a class='controversial' href="/controversial/">controversial</a>
                </li>

                <li>
                    <a class='top' href='/top/'>top</a>
                </li>
            </ul>
        </div>

<!-- Where the userbar is displayed -->
<div id="header-bottom-right"> </div>


    </div>
 