<span class='hoverImgView'>
	<span class='close'>close</span>
	<h3>{{model.ahrefDescription}}</h3>
	<p>{{model.originalText}}</p>
	<a data-bypass href='{{model.url}}'> <img src='{{model.url}}'   /> </a>
</span>