<div class="menuarea">
  <div class="spacer">
    <ul class="flat-list hover">
      <li id='inbox'>
        <a  href="/message/inbox/">
          all
        </a>
      </li>
      <li id='unread' >
        <span class="separator">
          |
        </span>
        <a href="/message/unread/">
          unread
        </a>
      </li>
      <li id='messages'>
        <span class="separator">
          |
        </span>
        <a href="/message/messages/">
          messages
        </a>
      </li>
      <li id='comments'>
        <span class="separator">
          |
        </span>
        <a href="/message/comments/">
          comment replies
        </a>
      </li>
      <li id='selfreply'>
        <span class="separator">
          |
        </span>
        <a href="/message/selfreply/">
          post replies
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="siteTable" class="sitetable linklisting"></div>