<div class=" thing id-t4_13g95s recipient message-parent even message">
  <p class="parent">
  </p>
  <p class="subject">
    <span class="correspondent rounded">
      <a class="author id-t2_ckx97" href="{{model.username}}" target="_blank">
        faketestuser
      </a>
      <span class="userattrs">
      </span>
    </span>
    asdasdasd
    <br>
    <a class="expand-btn" href="#">
      expand all
    </a>
    <a class="expand-btn" href="#">
      collapse all
    </a>
  </p>
  <p>
  </p>
  <div class="midcol" style="display:none">
  </div>
  <div class="entry unvoted">
    <div class="collapsed" style="display:none">
      <a href="#" class="expand" onclick="return showcomment(this)">
        [+]&nbsp;
      </a>
      <span class="head">
        from 
        <b>
          <a class="author id-t2_ckx97" href="http://www.reddit.com/user/faketestuser" target="_blank">
            faketestuser
          </a>
          <span class="userattrs">
          </span>
        </b>
        sent 
        <time title="Thu Sep 5 13:48:22 2013 UTC" datetime="2013-09-05T13:48:22+00:00">
          18 minutes
        </time>
        ago
      </span>
    </div>
    <div class="noncollapsed">
      <p class="tagline">
        <a href="#" class="expand" onclick="return hidecomment(this)">
          [–]&nbsp;
        </a>
        <span class="head">
          from 
          <b>
            <a class="author id-t2_ckx97" href="http://www.reddit.com/user/faketestuser" target="_blank">
              faketestuser
            </a>
            <span class="userattrs">
            </span>
          </b>
          sent 
          <time title="Thu Sep 5 13:48:22 2013 UTC" datetime="2013-09-05T13:48:22+00:00">
            18 minutes
          </time>
          ago
        </span>
      </p>
      <div class="md">
        <p>
          asdasdasdasdasd
        </p>
      </div>
      <ul class="flat-list buttons">
        <li class="first">
          <a href="http://www.reddit.com/message/messages/13g95s" class="bylink" rel="nofollow">
            permalink
          </a>
        </li>
        <li>
          <form class="toggle report-button " action="#" method="get">
            <input type="hidden" name="executed" value="reported">
            <span class="option main active">
              <a href="#" class="togglebutton" onclick="return toggle(this)">
                report
              </a>
            </span>
            <span class="option error">
              are you sure?  
              <a href="#" class="yes">
                yes
              </a>
              / 
              <a href="#" class="no">
                no
              </a>
            </span>
          </form>
        </li>
        <li>
          <form class="toggle block-button " action="#" method="get">
            <input type="hidden" name="executed" value="blocked">
            <span class="option main active">
              <a href="#" class="togglebutton">
                block user
              </a>
            </span>
            <span class="option error">
              are you sure?  
              <a href="#" class="yes">
                yes
              </a>
              / 
              <a href="#" class="no">
                no
              </a>
            </span>
          </form>
        </li>
        <li class="unread">
          <form action="/post/unread" method="post" class="state-button unread-button">
            <input type="hidden" name="executed" value="unread">
            <span>
              <a href="#">
                mark unread
              </a>
            </span>
          </form>
        </li>
        <li>
          <a class="" href="#">
            reply
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="child">
  </div>
  <div class="clearleft">
    <!--IE6sux-->
  </div>
</div>