           <div id="header-bottom-right">
             <span class="user">want to join? 
                <a class="login-required" href="#">login or register</a> 
                in seconds
             </span>
        </div>


            <form action="#" class="login-form login-form-side" id="login_login-main" method="post" name="login_login-main">
                <input name="op" type="hidden" value="login-main">
                <input class='loginUsername' maxlength="20" name="user" placeholder="username" tabindex="1" type="text">
                <input class='loginPassword' name="passwd" placeholder="password" tabindex="1" type="password">

                <div class="status"></div>

                <div id="remember-me">
                    <input id="rem-login-main" name="rem" tabindex="1" type="checkbox"><label for="rem-login-main">remember me</label>
                    <a class="recover-password" href="/password">reset password</a>
                </div>

                <div class="submit">
                    <span class="throbber"></span><button class="btn theLoginBtn" tabindex="1" type="submit">login</button>
                </div>

                <div class="clear"></div>
            </form>