    <div id="header-bottom-right">
        <span class="user"><a href="http://www.reddit.com/user/armastevs/">armastevs</a>
            (<span class="userkarma" title="link karma">1222</span>)</span>

            <span class="separator">|</span>
            <a class="nohavemail" href="http://www.reddit.com/message/inbox/" id="mail" title="no new mail">messages</a>
            <span class="separator">|</span>
            <a class="nohavemail" href="http://www.reddit.com/message/moderator/" id="modmail" title="no new mod mail">mod messages</a>
            <span class="separator">|</span>

        <ul class="flat-list hover">
            <li>
                <a class="pref-lang" href="http://www.reddit.com/prefs/">preferences</a>
            </li>
        </ul><span class="separator">|</span>

        <form action="http://www.reddit.com/logout" class="logout hover" method="post">
            <input name="dest" type="hidden" value="/r/javascript"><a href="#">logout</a>
        </form>
    </div>