<form id='preftable'>
<table class="content preftable">
<tbody>

<tr><th>Site Options</th>
<td class="prefright">


<input name="hideSidebar" id="hideSidebar" type="checkbox">
<label class="" for="hideSidebar">Hide sidebar.</label>



</td></tr>

<tr><th>Subreddit Options</th>
<td class="prefright">
<input name="infin" id="infin" type="checkbox" >
<label class="" for="infin">Turn off subreddit infinite scroll</label>
<br><input name="customCSS" id="customCSS" type="checkbox" >
<label class="" for="customCSS">Do not use custom CSS from the active subreddit.</label>
<p>display<select name="linkCount" id='linkCount' style="margin: 0 .5em 0 .5em">
	<option>10</option><option>25</option><option>50</option><option selected="selected">100</option></select>links at once</p>
</td></tr>

<tr><th>Comment Page Options</th>
<td class="prefright">
<input name="btmbar" id="btmbar" type="checkbox" >
<label class="" for="frame">Do not display the bottom bar *Displays the thumbnails of that post in the bottom bar on a comment page.</label>


<br><input name="cmtLoad" id="cmtLoad" type="checkbox">
<label class="" for="cmtLoad">Turn off comment image preview *Hover over a picture or video and it reveals itself to you.</label>

</td></tr>





</tbody>
</table>
</form>