<form id='preftable'>
<table class="content preftable">
<tbody>

<tr><th>Site Options</th>
<td class="prefright">


<input name="showSidebar" id="showSidebar" type="checkbox">
<label class="" for="showSidebar">Show <b>sidebar.</b></label>



</td></tr>

<tr><th>Subreddit Options</th>
<td class="prefright">
<input name="infin" id="infin" type="checkbox" >
<label class="" for="infin"><b>Subreddit infinite scroll</b></label>
<br><input name="customCSS" id="customCSS" type="checkbox" >
<label class="" for="customCSS"><b>Custom CSS</b> from the active subreddit.</label>



<tr><th>Comment Page Options</th>
<td class="prefright">
<input name="btmbar" id="btmbar" type="checkbox" >
<label class="" for="frame"><b>Bottom bar</b>  *Displays the thumbnails of that post in the bottom bar on a comment page.</label>


<br><input name="cmtLoad" id="cmtLoad" type="checkbox">
<label class="" for="cmtLoad"><b>Comment image/video preview</b> *Hover over a picture or video and it reveals itself to you.</label>

</td></tr>

<tr><th>Links</th>
<td class="prefright">

display<select name="linkCount" id='linkCount' style="margin: 0 .5em 0 .5em">
	<option>10</option><option>25</option><option>50</option><option selected="selected">100</option></select>links at once
</td></tr>





</tbody>
</table>
</form>