<table class="content preftable">
<tbody>

<tr><th>Bottom Bar</th>
	<td class="prefright">
		<input name="btmbar" type="radio" id='btmbarOn' class='omargin' value='true' checked="checked">
		<label class="" for="btmbarOn">On *Displays the thumbnails of that post in the bottom bar on a comment page.</label><br>
		<input name="btmbar" id='btmbarOff' class="nomargin" type="radio" value='false'>
		<label class="" for="btmbarOff">Off</label>
</td></tr>

<tr><th>Subreddit Infinite Scroll</th>
	<td class="prefright">
		<input name="infin" type="radio" class='omargin' id='infinOn' value='true' checked="checked">
		<label class="" for="infinOn">On *The next set in that subreddit loads automatically.</label><br>
		<input name="infin" class="nomargin" type="radio" id='infinOff' value='false'>
		<label class="" for="infinOff">Off</label>
</td></tr>

<tr><th>Autoloading Comments</th>
	<td class="prefright">
		<input name="cmtLoad" type="radio" id='cmtLoadOn' class='omargin' value='true' checked="checked">
		<label class="" for="cmtLoadOn">On *Hover over a picture or video and it reveals itself to you.</label><br>
		<input name="cmtLoad" class="nomargin" id='cmtLoadOff' type="radio" value='false'>
		<label class="" for="cmtLoadOff">Off</label>
</td></tr>

<tr><th>Custom CSS</th>
	<td class="prefright">
		<input name="cmtLoad" type="radio" id='cmtLoadOn' class='omargin' value='true' checked="checked">
		<label class="" for="cmtLoadOn">On *Load that subreddits custom CSS and flair.</label><br>
		<input name="cmtLoad" class="nomargin" id='cmtLoadOff' type="radio" value='false'>
		<label class="" for="cmtLoadOff">Off</label>
</td></tr>


<tr><th>Grid Picture Size change to number drop down</th>
	<td class="prefright">
		<input name="infin" type="radio" class='omargin' value='true' checked="checked">
		<label class="" for="infinOn">On *The next set in that subreddit loads automatically.</label><br>
		<input name="infin" class="nomargin" type="radio" value='false'>
		<label class="" for="infinOff">Off</label>
</td></tr>

<tr><th>Links</th>
	<td class="prefright">
<p>display<select name="numsites" style="margin: 0 .5em 0 .5em"><option>10</option><option>25</option><option>50</option><option selected="selected">100</option></select>links at once</p>
</td></tr>

</tbody>
</table>