   <div id="userbar-logged-in" >
        <span class="user"><a href="/user/{{model.username}}/">{{model.username}}</a>
            (<span id='userkarma' class="userkarma" title="link karma">{{model.karma}}</span>)</span>

            <span class="separator">|</span>
            <a class="nohavemail" href="/message/inbox/" id="mail" title="no new mail">messages</a>
            <span class="separator">|</span>
            <a class="nohavemail" href="/message/moderator/" id="modmail" title="no new mod mail">mod messages</a>
            <span class="separator">|</span>

        <ul class="flat-list hover">
            <li>
                <a class="pref-lang" href="http://www.reddit.com/prefs/">preferences</a>
            </li>
        </ul><span class="separator">|</span>

        <form class="logout hover" >
                <a href="#">logout</a>
        </form>
    </div>








