@media (max-width: 1000px) {

body {
    min-width: 630px;
}

.rank {
    display:none;
}

.midcol {
margin:0px !important;
font-size:20px !important;

}

.comment .child, .comment .showreplies {
margin-left: 0px;
}
.comment, .content .details {
margin-left: 3px;
}

.large-thumb .thing {

max-width: 85%;

}

.smallThumb {
	padding:5px;
	float:left;
}


.side {
display:none;
}

#categoryList {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}

#dspTypeRadio {
margin: 14px 0 0 20px;
font-size: 33px;
}

#dspTypeRadio label {
display:block;
}

#categoryList li {
font-size: 22px;
text-align: left;
}

#sr-more-link {
    display:none;
}

#sr-header-area {
font-size: 25px;
height: 35px;
line-height: 35px;
}

#header-nav-logo-area {
top: 36px;
}

.tabmenu li {
font-size: 40px;
}

.thumbnail img {
width: 70px;
height: 63px;
}

.sr-list {
    display:none;
}

.tabmenu li {
display: list-item;
margin:5px;
}

#mobileOptions {
    float:right;
    cursor:pointer;
}

.tabmenu {
display:none;
max-height: 310px;
width: 509px;
margin: 0 auto;
}

.tabmenu-right {
left: 326px;
bottom: 256px;
}

#page {
    overflow-x :hidden;
}

#header-bottom-right {
font-size: 17px;
padding: 7px;
text-align: center;
position: relative;
}

#userbar-logged-in {
    font-size:20px;
}

#header-img {
    visibility: hidden;
   height: 45px;
}

#siteTableComments {
    font-size:20px;
}

.md {
font-size: 20px;
}

.tagline, .comment .score,.comment .collapsed {
font-size: 19px;
}

.arrow, #mail {
    zoom:1.7;
}

.comment .midcol {
width: 35px;
}

.tabmenu li.selected a {
border: none;
}

#mobileFrontLink {
    float:left;
    display:block;
}

.link .title {
font-size: 25px;
}
.entry  {
    font-size:22px;
}

.arrowNav {
    display:none;
}

      }

 









/*To hide things from non-mobile users*/
 @media (min-width: 1000px) {
#mobileOptions {
    display:none;
}
#mobileFrontLink {
    display:none;
}

 }
