@media (max-width: 900px) {

body {
    min-width: 200px;
}

#header-nav-logo-area {
top: 22px;
min-width:200px;
padding:0px;
}

.content {
margin:10px 0;
}

.rank {
    display:none;
}

.midcol {
margin:8px -7px !important;
font-size:20px !important;
}

#siteTable .link {
    margin-bottom: 0px;
}


.comment .child, .comment .showreplies {
margin-left: 0px;
}
.comment, .content .details {
margin-left: 3px;
}

/*.child.replies .thing {
    margin-left:-8px;
}*/

.large-thumb .thing {
max-width: 85%;
}

.thing.link {
    min-width:200px;
}

.smallThumb {
	padding:5px;
	float:left;
}

.thumbnail {
margin:2px;
width: 65px;
}


.side {
display:none !important;
}

#categoryList {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}

#dspTypeRadio {
margin: 14px 0 0 20px;
font-size: 33px;
}

#dspTypeRadio label {
display:block;
}

#sr-more-link {
    display:none;
}

#sr-header-area {
font-size: 16px;
height: 21px;
line-height: 22px;
border-bottom:none;
}

#theHeader .fa{
font-size:18px;
margin:0 5px;
cursor: pointer;
}

.tabmenu li {
font-size: 40px;
}

.thumbnail img {
width: 70px;
height: 63px;
}

.link img {
max-width: 97% !important;
margin:1% auto;
}

.sr-list {
    display:none;
}

#mainComment textarea, #mainComment .usertext-edit,.usertext .bottom-area {
    width:90%;
}


.tabmenu li {
display: list-item;
margin:5px;
}

#mobileOptions {
    float:right;
    cursor:pointer;
    margin-right: 5px;
    position:relative;
}

.tabmenu {
display:none;
max-height: 310px;
width: 509px;
margin: 0 auto;
}

.tabmenu-right {
left: 326px;
bottom: 256px;
}

#page {
    overflow-x :hidden;
}

#header-bottom-right {
font-size: 17px;
padding: 7px;
text-align: center;
position: relative;
}

#userbar-logged-in {
    font-size:16px;
}

#header-img {
    visibility: hidden;
   height: 45px;
}

#siteTableComments {
    font-size:20px;
    padding-bottom:10px;
}

.comments {
    padding:0 4px !important;
}

.postRowContent {
  margin-left:0px !important;
}

.md {
font-size: 15px;
}

.tagline, .comment .score,.comment .collapsed {
font-size: 12px;
}

.link .tagline,.flat-list.buttons {
margin:0 auto;
min-width: 275px;
overflow: visible;

}



.taglineScore{
    display:none;
}

.midcol .score {
    font-size:16px;
}

#mail {
top: 1px;
zoom: 1.5;
margin-right: 3px;
margin-left: 7px;
}


#mobileCenter {
    position:absolute;
    top:2px;
    right:33%;
    width:50px;
}


#hotornew {
float: left;
position: relative;
height: 25px;
width: 12px;
padding-left:5px;
z-index: 9999999999;
}

#hotornew:hover .mdropdown {
    display:block;
}
#mobileChangeView {
float:right;
position: relative;
height: 25px;
width: 15px;
padding-right:5px;
z-index: 9999999999;
}

#mSortPickerBox {
    left:-51px;
}

#mViewPickerBox {
    right:-66px;
}

#mobileUserBar {
    float:right;
}

.mdropdown {
    display:none;
    position:absolute;
    top:21px;
    text-align: center;
    border:1px solid #5F99CF;

}

.mdropdown .selected {
    color:red !important;
}

.mdropdown li {
background: #CEE3F8;
list-style: none;
padding: 4px 12px;
font-size: 20px;
margin: 0 3px;
clear: both;
}

li.dditem {
margin: 0;
}

li.dditem a:hover {
    color:#FF8B60;
}

 li ul li {
float: none;
display: inline;
}

.comment .midcol {
width: 35px;
}

.tabmenu li.selected a {
border: none;
}

#mobileFrontLink {
    float:left;
    display:block;
}

.link .title {
font-size: 14px;
}

.link .flat-list {
padding:0; 
}

.entry .buttons li {
padding-right: 0px;
line-height: 1em; 
margin-right: -4px;
}

.commentWord {
display:none;
}


.embedly-embed { 
    width: 100%; 
    max-width: 600px; 
}

.comment .child, .comment .showreplies {
    margin-left: 5px;
    border-left: 2px dotted #C3C3C5;
}

/*mobile Submit page*/
.submit,.tabmenu .formtab,.formtabs-content,.roundfield, .roundfield .usertext-edit,.tabmenu  {
    width:99% !important;
}

.submit .info-notice {
    width:95% !important;
    padding: 9px 0px 9px 9px !important;
}

.submit ul.tabmenu.formtab {
    width:97% !important;
}

.submit .roundfield {
    padding: 2px 5px 5px 5px;
}

.submit #url-field button {
margin: 5px 3% 5px 5px;
}

.submit textarea, .submit input {
    width:95% !important;
}

.submit .tabmenu.formtab a {
font-size: 20px;
}

.submit .tabmenu li {
font-size: 20px; 
display: inline;
margin:0 2px;
}

/*
#thepost .entry  {
    overflow: visible;
}*/

/*#thepost .entry, .large-thumb .entry  {
    overflow: visible;
}*/

.entry  {
    font-size:14px;
    overflow: visible;
}

/*To verticle align the text in the middle of the title div*/
.entryParent {
    display:table;
    min-height:65px;
}

.entryChild {
    display: table-cell;
    vertical-align: middle;
}

.arrowNav {
    display:none;
}
.block {
width: 275px;

padding: 2% 0;
}

.column {
width: 286px;
}
.block img {
max-width: 263px;
}

#srLeftContainer {
    width:35%;
}

#categoryList li {
font-size: 12px;
text-align: left;
}

#innerSR {
max-width: 63%;
width: 63%;
}


.usertext-edit textarea {
height: 60px;
}

.panestack-title {
display:none;
}

.sortCommentsMenu {
margin-left:10px;
}

#sr-header-area .width-clip {
width: 97%;
}


#srNameDisplay {
font-size: 15px !important;
position:absolute;
right: 15px;
white-space: nowrap;
}



 }

 

/* really really small stuff */
@media (max-width: 405px) {
.thumbnail {
display: none;
}

.expando-button {
    display:none;
}

a.togglebutton.report {
display: none;
}


.thing.link {
min-width: 150px;
}

.link .tagline, .flat-list.buttons {
min-width: 150px;
}

.link .tagline {
    display:none;
}

.entryChild {
padding-left: 5px;
}

.entryParent {
min-height: 60px;
}



.midcol .score {
font-size: 14px;
}



}


/* really really really really small stuff */
@media (max-width: 255px) {

.entry {
font-size: 11px;
}

.midcol {
margin: 0px -7px !important;
}

}

/* fixes for mobile header */
@media (max-width: 505px) {
#sr-header-area {
height: 42px;
}

#sr-header-area:after {
content: '';
border-top: 1px solid #5f99cf;
position: absolute;
top: 21px;
width: 100%;
}

#mobileCenter {
top: 24px;
}


}

@media (max-width: 350px) {

#sr-header-area .dropdown.srdrop {
padding-left: 0px; 
}

#mobileFrontLink {
position: relative;
right: 12px;
}

#mobileCenter {
width: 45px;
}

#mobileOptions {
margin-right: -3px;
}

#mail {
margin-right: -1px;
margin-left: -1px;
}

.comment .child, .comment .showreplies {
margin-left: -5px;
border-left: 1px dotted #C3C3C5;
}

.block {
width: 100%;
}

.block img {
max-width: 97%;
}

.column {
width: 95%;
}

}






/*To hide things from non-mobile users*/
 @media (min-width: 900px) {
#mobileOptions {
    display:none;
}
#mobileFrontLink {
    display:none;
}
.commentIcon {
display:none;
}

 }



/*To between 900px and 1150px, issue with youtube videos */
 @media all and (min-width: 900px) and (max-width: 1150px) {
.postRowContent .embedly-embed {
    width:61%;
}

 }




@media only screen and (min-width:915px) and (max-width:970px) {
    .embedly-embed { 
        margin-left: -30px; 
    }
}

@media only screen and (min-width:1360px) {
  .expando {
    margin-left: 85px !important;
  }

  .embedly-embed { 
    margin-left: 86px; 
  }
}



