
.loading {
height: 50px;
position:relative;
top:250px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}


.loadingS {
height: 30px;
width: 30px;
position:relative;
left:10px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}

.loadingSubmit {
height: 20px;
width:20px;
background-image: url('../img/loading.gif');
background-repeat: no-repeat;
background-position: center center;
}

.loadingSingle {
  height: 15px;
width:15px;
position:absolute;
left:30%;
top:15%;

}

.liveTextarea {
padding: 4px 0 20px 0px;
margin: 5px 0 30px 5px;
border-top: 1px dotted silver;
min-height:50px;
}


.blinkingFakeInput {
  float:left;
}


.gotoSubmit {
  cursor:pointer;
  float:left;
  margin:5px;
}
.gotoSubmit {
text-decoration: none;
color: #369;
}
  


.panestack-title {
margin: 10px 10px 0 10px;
padding-bottom: 3px;
border-bottom: 1px dotted #808080;
}


#header-bottom-right .separator {
	margin: 0ex;
}

#sr-header-area .seperator {

	margin: 0 .5ex;
}


.thumbnailSmall {
	padding:5px;
	width: 90px !important;
	height:70px !important;
	float:left;
}

.thumbnailSmall img {
height: 70px;
width: 90px;
object-fit: contain;
}

.thumbnail {
  max-height: 64px;
}

.morecomments {
height:33px;
}
.morecomments a {
  font-weight: bold;
  margin:10px;
  font-size:12px;
}

#siteTableComments {
  padding-bottom:80px;
}


.tabmenu-right {
position:relative;
left:65px;
z-index: 3333;
}

.large-thumb {
max-width: 100%;
text-align: center;
margin-bottom: 10px;
}

.postRowContent {
  margin-left:4% !important; 
}

.textGridTitle {
  display: table; 
  height: 30px; 
  overflow: hidden;
  margin-right: 4px;

}

.textGridTitle a {
  display: table-cell; 
  vertical-align: middle;
  text-align: left;
}

.usertext-body{
    overflow:hidden;
    max-width: 795px;
}


.small-thumb-for-large-view  {
margin-top:3px;
max-height:45px;
}

.large-img{
max-width: 98%;
margin: 1% 0;

  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
    box-shadow: 3px 3px 3px #7C7C7C;
}

.large-thumb .thing {
background-color:#EFF7FF;
border: 1px solid #5f99cf;
max-width:100%;
text-align: left;
margin: 0px auto 8px auto;
}

.large-thumblink {
	text-align: center;
}

.board-item {
width: 320px;
}

.board-column {
margin-left: 10px;
width: 328px;

display: inline-block;
vertical-align: top;
}

#board {
line-height: 0;
text-align: center;
}



#theLogin .status
{
	font-size:10px;
	color:red;
}

.embed img, .embedImg {
padding: 0 5px;
background-color: #fafafa;
border: 1px solid #369;
border-radius: 7px;
display:block;
padding:5px;
max-width:62%;

}

.embedImg {
  cursor:inherit;
}


.expando {
clear:none;
margin:5px;
}


.expando-button {
height: 24px;
width: 24px;
}

#retry {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/


}

 .success {
 	color:blue;
 }

 .give-gold {
color: #9A7D2E!important;
}


.singlePostPage {
	margin-top:38px;
}

.drop-choices-user {
position: absolute;
left: 102px;
top: 95px;
border: 1px solid gray;
z-index: 100;
background-color: #FFF;
white-space: nowrap;
line-height: normal;
margin-top: 1px;
display: none;
}

.drop-choices-user a.choice {
cursor: pointer;
padding: 2px 3px 1px 3px;
display: block;
}

.drop-down-header {
top: 20px;
}


.searchpane {
margin: 5px 328px 5px 0;
}


.drop-choicesX {
position: absolute;
left: 0;
border: 1px solid gray;
z-index: 100;
background-color: #FFF;
white-space: nowrap;
line-height: normal;
margin-top: 1px;
display: none;
}


.drop-time-frameA {
	left: 219px;
}



.drop-sort-orderA, .drop-time-frameSR {
	left: 88px;
}

.usertext-edit {
	margin-left:15px;
}


.block img {
	max-width:290px;
}

.block {
  width: 291px;
  padding:2px;
  margin:5px 0;
  text-align: center;
  /* border:1px solid #369; */
  overflow: hidden;
  position: relative;
 background-color: #CEE3F8;
  color: #222;
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-ms-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-box-shadow: 6px 5px 4px -2px rgba(51,102,153,0.78);
-moz-box-shadow: 6px 5px 4px -2px rgba(51,102,153,0.78);
box-shadow: 6px 5px 4px -2px rgba(51,102,153,0.78);
}

.block:hover {
  background-color: #B7D5F3;
-webkit-box-shadow: 5px 5px 4px -2px rgba(163,184,94,1);
-moz-box-shadow: 5px 5px 4px -2px rgba(163,184,94,1);
box-shadow: 5px 5px 4px -2px rgba(163,184,94,1);
}

.gridThumb  {
  display: table-cell;
vertical-align: middle;
margin-right:5px;
padding: 5px 0;
}

.block .flat-list {
text-align: left;
}

.block .flat-list  a {
color: #888;
font-weight: bold;
padding: 0 3px 0 0;
}

.block .flat-list  a:hover {
text-decoration: underline;
}

.block .shareLinkDown input {
width: 270px;
border: 1px rgb(51,102,153) solid;
 background-color: #E4EBF3
  color: #222;
padding: 2px 5px;

}

.midcolGrid {
display: table-cell;
vertical-align: middle;
float:none !important;
}

.mainGridImg {
  margin-top:3px;
}

.gridLoading {
  position:absolute;
  top:47%;
  left:47%;
  display:none;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}



.column {
	width:303px;
	margin:0px;
	display: inline-block;
	vertical-align: top;
}


/* Bottom bar */
#bottom-bar-container {
display:none;
position:fixed;
bottom:0px;
left:1px;
height:70px;
width: 99999px;
overflow: hidden;
}

#bottom-bar {
-webkit-transition: opacity 0.8s;
-moz-transition: opacity 0.8s;
-o-transition: opacity 0.8s;
transition: opacity 0.8s;
overflow: hidden;
position:relative;
left:1px;
background-color:#CEE3F8;
border-top: 1px solid #5F99CF;
border-bottom: 1px solid #5F99CF;
padding: 0px 0px 5px 5px;
}

.selectedBtmBar {
  border: 3px solid #5F99CF;
}

.transparent {
    zoom: 1; /* gives the object layout */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
  filter: alpha(opacity=18);
  -moz-opacity: 0.18;
  -khtml-opacity: 0.18;
  opacity: 0.18;
}

.message.new>.entry {
background-color: #E9E9E9;
}

.contentSidebar {
margin: 0;
padding: 5px;
border: 1px solid #808080;
font-size: larger;
list-style: none;
}

#starMe {
position: relative;
bottom: 22px;
float: right;
}

.blueborder {
  padding: 0 5px;
  background-color: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
}

.hoverImgView {
  margin-left:30px;
  max-width:90%;
  background-color:transparent;
  border: 2px solid #5F99CF;
  position: relative;
}

.expando .hoverImgView {
  margin-left: 4px;
  max-width: 98%;
}

.hoverImgView img {
  max-width: 90%;
  padding:5px;
  display:block;
  margin: 10px auto;
}

.expando .hoverImgView img {
  max-width: 95%;
}

.hoverImgView .youtubeEmbed {
  text-align: center;
  margin: 10px 20px 20px 10px;
  padding-bottom: 20px;
}

.hoverImgView .displayHtml {
  padding:5px 5px 0 5px;

}


.hoverImgView  .imgTitle {
background-color:#CEE3F8;
color:#5F99CF;
padding:4px;
text-align: center;
overflow:hidden;
}

.hoverImgView .close {
cursor:pointer;
position: absolute;
top: -2px;
left: 0px;
background-image: url(sprite-reddit.png);
background-position: -29px -613px;
background-repeat: no-repeat;

}

.hoverImgView .close:hover {
background-image: url(sprite-reddit.png);
background-position: 0 -613px;
background-repeat: no-repeat;
}

.error {
  color:red;
}


.preftable {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

.preftable th {
  max-width:169px;
white-space:normal;
}


.btmCenter {
position: relative;
top:33px;
float:left;
font-size: 16px;
margin-left: 45px;
width:64px;
cursor: pointer;
text-decoration: none;
color: #369;
  padding: 1px 4px;
background: #EEE;
border: 1px solid #DDD;
border-radius: 3px;
}

.orange {
color:#ff8b60;
}

.purple {
color:#9494ff;
}


/* When the user expands an img on the subreddit screen */
.link img { 
object-fit: contain;
}

.dragIndicatorImg {
width:22px;
height:24px;
position:fixed;
background:url('/img/resize.png') ;
}

.large-thumb .link img {
max-width: 69%;
}


.btmbar-loading {
  padding:25px;
  margin-left:15px;
  float:left;
}


.popup {
  position:fixed;
}


.loadingMOAR {
  margin-left:23px;
}

#loadingC {
  margin:75px;
}

.arrowNav {
  margin-left:15%;
  font-size:30px;
  cursor: pointer;
  position:relative;
  top:5px;
  width:85px;
  z-index:3;
}

#arrowNavHelp {
display:none;
margin-right:30px;

height: 34px;
width: 50px;
float: right;

}



.arrowNav span{
  cursor: pointer;
margin:0 50px;
}

.drop-choices-single {
  left:75px;
}

#header-nav-logo-area {
  width:100%;
  background-color: #cee3f8;
  display:none;
  position:absolute;
  top:19px;
  z-index:99999;
  padding:10px;
}

.headerNavLogo {
float:left;
  height:48px;
  margin:2px 4px;
   opacity: 0.7;
}

.exploreLink {
  color:#1DA81D !important;
  font-weight: bold !important;
  text-shadow: 0 0 37px #1DA81D;
}

#innerSR {
max-width:70%;
margin:0 auto;
display:inline-block;
vertical-align:top;
}
#srLeftContainer {
  width:29%;
display:inline-block;
vertical-align:top;
}

#categoryList {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
background-color: #FFEBDE;
padding:5px;
}

#plzHelp {
  margin:12px;
}

#categoryList li {
cursor:pointer;
font-size:12px;
margin:0 auto 7px auto;
padding:0px 1% 0px 3%;
word-wrap:break-word;
color: #369;
text-align: center;

}

#categoryList li:hover {
  color:#F60;
}

#dspTypeRadio {
vertical-align: middle;
font-size: 18px;
margin: 35px 0 15px 25%;
width:200px;
}

#dspTypeRadio label {
  margin:5px;
}

#idenContainer {
  display:none;
  position:relative;
}

#captcha {
  width:200px;
  font-size:20px;
}

#refreshCaptcha {
position: absolute;
top: 18px;
margin-left: 8px;
font-size: 18px;
color: #84BEEC;
}

.headerNavLogo:hover {
   opacity: 1;
}

.headerNavLogo  img{
  max-height:48px;
    vertical-align:middle;
  display:inline-block;
}

.sr-header-area-nav-logo {
white-space: normal !important;
height: auto !important;

}


.text-header-nav {
  font-size:24px;
  height:48px;
    -webkit-box-shadow: 2px 2px 2px #7C7C7C;
    box-shadow: 2px 2px 2px #7C7C7C;
padding:0px 2px;
text-align: center;
  vertical-align: middle;
  /* fallback for non-Flexbox browsers */
  display: inline-block;
  /* Flexbox browsers */
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;


}


.entry .buttons li {
float: none !important;
}

.shareLinkDown {
  margin: 10px 0px;
}
.shareLinkDown input {
width:400px; 
border: 1px #000 solid;
color: #808080;
padding: 2px 5px;
font-size:11px;
}

.sameURL {
  color:red;cursor:pointer;
  text-decoration: underline;
}

#urlDetails{
  float:left;
  margin-top:10px;
  font-size:15px;
}
#searchResults {
  font-size:15px;
}

.lineThrough
{
text-decoration:line-through;
}

#alreadySubmitted {
margin-top: 5px;
font-size: small;
display:none;
} 

#alreadySubmitted h3 {
font-size: 1em;
font-weight: 400;
margin-top: .5em;
}

#alreadySubmitted li {
display: inline;
padding-right: 5px;
}

#searchResults {

}

.similarTitles {
  color:blue;
  cursor:pointer;
  text-decoration: underline;
}

#popupPostList {

}

#popupSiteTable {
  height: 500px;
width: 70%;
display:none;
position: fixed;
top: 13%;
left: 20%;
padding: 5px 5px 5px 0px;
background: white;
z-index: 114;
overflow-y: scroll;
border: 2px solid black;
}

.closepopupSiteTable {
position: fixed;
left: 90%;
top: 11%;
cursor: pointer;
padding: 5px;
z-index: 114;
}

#popupSiteTable {
  z-index:115;
}

.blackOverlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index: 114;
  
  background-color:black;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}


.testItems {
  font-size:16px;
  color:black;
  padding:10px;
}

#displayAllSRS li {
  font-size:11px;
  color:green;
}

.fullBackground {
  background:#CEE3F8;
  width:100%;
  height:100%;
  padding:50px 0 200px 0;
}

#downloadFrame {
  background:#EFF7FF;
  margin:25px auto;
  border: 1px solid #5F99CF;
  padding:20px;
  width:600px;
  min-height:300px;
  font-size: 14px;
}
#downloadFrame  textarea:focus, #downloadFrame input:focus {
  border: 2px solid #900 !important;
  color:#FF4500 !important;
}

.disabledInput {
  background-color:#E9E9E9 !important;
}

#downloadFrame input, #collectionLength,#subNameSelect,#sortOrder,#timeFrame {
    width: auto;  
    padding: 5px 10px;  
    border:2px solid #5F99CF !important;
    font-size: 14px;  
    color: #369 !important; 
    background-color:white;
}

.rightLabel {
  float:none !important;
  margin-right:0px !important;
}
#timeFrame {
  display:none;
}

#downloadFrame label {
  color: #369 !important; 
  float: left;
  font-weight: bold;
  text-align: right;
  padding: 5px 10px;   
  margin-right: 15px;
  width: 140px;

}

.blueBtn {
text-align: center;
width: 78px;
font-weight: bold;
cursor: pointer;
display: inline-block;
margin-left: 15px;
padding: 1px 0;
color: #FF4500;
border:2px solid #5F99CF;
border-radius: 3px;
background:white;
}

#startDownload {
  margin: 2px 0 0 71px;
}

.infoBox {
  display: inline-block;
  position:relative;
  text-align: center;
  width:90px;
  height:75px;
  padding:3px;
  border:2px solid #5F99CF;
}

.infoBoxLbl {
  color: #369 !important; 
  font-weight: bold;
}

.infoBoxNum {
margin-top:10px;
font-size: 26px;
color:#FF4500;
}

#infoBoxRow {
  width:540px;
  margin:40px auto 8px auto;
}

.footnote {
  color: #369 !important; 
  font-size:12px;
  margin-top:40px;
  list-style-type: disc;
}
.footnote li {
margin: 5px 0 0 30px;
}

.footnote a {
 text-decoration: underline;
}

.inputContainer {
  height:40px;
  margin:2px 0;
}

#statusBox {
  color: #369 !important; 
  font-size:12px;
  margin-left:22px;
  margin-top:7px;
  text-align: center;
}

#downloadFrame h1 {
  text-align: center;
  position:relative;
  bottom:10px;
  color: #369 !important; 
  font-weight: bold;
}


#noImgsMsg {
  text-align: center;
  color:blue;
}

.apply-preferences{
  padding: 5px; 
  background: #E4E4E4; 
  display: inline-block; 
  margin-top: 15px; 
  border: 1px solid silver;
  color:black;
  cursor:pointer;
}