doctype
head
  meta(charset='utf-8')
  base(href='/')
  title The redditJS Project
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='author', content='Benjamin Adams')
  meta(property='og:type', content='website')

  //***************change to /css/styles.min.css for production
  //link(rel='stylesheet', href='/css/styles.css')     
  link(rel='stylesheet', href='/css/styles.css')   

  script.
    window.redditUser=  !{JSON.stringify(user)};
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  link#subredditStyle(href='', rel='stylesheet')
    
body.listing-page.hot-page
  #theHeader  
  .side
  #content.content
  #bottom-bar-container

  //script(src='/js/lib/require.js') using CDN instead
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js')
  script(src='/js/app/config/config.js')


  //***************change to /js/app/init/DesktopInit.min.js for production
  //script(src='/js/app/init/DesktopInit.js')
  script(src='/js/app/init/DesktopInit.js')


  noscript
    div Please enable JavaScript to view this website.
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'))
    ga('create','UA-4769553-53');ga('send','pageview')
