<div class="thing comment ">

<div class="thing comment"  {{#if is_user}} style='min-height:65px;' {{/if}}>

	<div class="midcol {{voted}}">
		<div class="arrow upArrow {{upmod}}"  role="button" aria-label="upvote" tabindex="0">
		</div>
		<div class="arrow downArrow {{downmod}}"  role="button" aria-label="downvote" tabindex="0">
		</div>
	</div>
		 {{#if thumbnail}}
			<a href='{{permalink}}'><img src='{{thumbnail}}' class='thumbnail'/></a>
		{{/if}}
	<div class="entry unvoted">
		<div class="collapsed" style="display:none">
			<a href="#" class="expand" >[+]</a>
				 {{#if is_user}}
				 	<a href='{{permalink}}' style='height:65px;' class='title'>{{title}}</a>
				 {{/if}}
			<a class="author gray " href="/user/{{author}}" target="_blank">{{author}}</a>

			<span class="userattrs"></span>
				<span class="score unvoted">{{score}} points</span>
			<time title="{{timePretty}}" datetime="{{timeUgly}}">{{timeAgo}}</time> ago &nbsp;
			  {{#if edited}}
                        			<span>(*lasted edited {{editedTimeAgo}} ago)</span>

                   		 {{/if}}
			<a href="#" class="expand">({{childrenCount}} {{childOrChildren}})</a>
		</div>
		<div class="noncollapsed">
			<p class="tagline">
				<a href="#" class="expand" >[–]</a>
				 {{#if is_user}}

				 	<a href='{{permalink}}' class='title'>{{title}}</a>
				 {{/if}}
				<a class="author" href="/user/{{author}}" target="_blank">{{author}}</a>
				 {{#if author_flair_css_class}}<span class="flair flair-{{author_flair_css_class}}" title=""></span>{{/if}}

				

					
		<span class="score">{{score}}(<span class='orange'>{{ups}}</span>/<span class='purple'>{{downs}}</span>)</span>
				

				<time title="{{timePretty}}" datetime="{{timeUgly}}">{{timeAgo}}</time> ago
				{{#if edited}}				
                        			<span>* (lasted edited {{editedTimeAgo}} ago)</span>

                   			 {{/if}}

                   			 {{#if is_user}}	
                   			 	<span> in <a href='/r/{{subreddit}}'>{{subreddit}}</a>
                   			 {{/if}}


			</p>
			<form action="#" class="usertext">
			
				<div class="usertext-body hoverImgParent">
					<div class="md">
						<p>
							{{{body_html}}}
							
						</p>
					</div>
				</div>
				
			</form>
			<ul class="flat-list buttons">
				<li class="first"><a href="{{permalink}}" class="bylink" rel="nofollow">permalink</a></li>
				<li>
				<span class="toggle remove-button">
					<span class="option main active">
					<a href="#"  class="togglebutton report">report</a></span>
					<span class="option error reportConfirm">are you sure? <a href="#"  class="reportConfirmYes yes">yes</a> / <a href="#" class="no reportConfirmNo" >no</a></span>
				</span>
				</li>
				<li><a  data-bypass href="http://reddit.com/gold?goldtype=gift&amp;months=1&amp;comment={{name}}"   target='_blank' title='If you like redditJS please buy someone reddit gold!' class="give-gold login-required">give gold</a></li>
				<li><a class='replyToggle' href="#" >reply</a></li>
			</ul>

			<form action="#" class="usertext cloneable commentreply" style="display: none;">
	<div class="usertext-edit" style="width: 500px;"><div>
		<textarea rows="1" cols="1" name="text" class='text'></textarea>
	</div>
	<div class="bottom-area">
		<span class="help-toggle toggle" style="">
			<a class="option active mdHelpShow" href="#" tabindex="100">formatting help</a>
			<a class="option mdHelpHide" href="#">hide help</a></span>
			<a href="http://reddit.com/wiki/reddiquette" data-bypass class="reddiquette" target="_blank" tabindex="100">reddiquette</a>
			
			<div class="usertext-buttons">
				<button type="submit" class="save">save</button>
				<button type="button"  class="cancel" style="">cancel</button>
				<span class="status"></span>
			</div>
	</div>
	<div  class="mdHelp markhelp" style="display:none"></div>

	<div class="clearleft">
		<!--IE6sux-->
	</div>
	</div>
</form>
</div>

<div class="child replies">

</div>
	



