<h1>send a message</h1>
<form id="compose-message" method="post">
<div class="spacer">
  <div class="roundfield ">
    <span class="title">
      to
    </span>
    
    <span class="gray">
      (username, or /r/name for that subreddit's mods)
    </span>
    <div class="roundfield-content">
      <input type="text" name="to" id='to' value="{{dest}}" >
      </span>
    </div>
  </div>
</div>
  <div class="spacer"> 
    <div class="roundfield ">
      <span class="title">
        subject
      </span>

      <div class="roundfield-content">
        <input type="text" name="subject" id='subject' value="{{subject}}">
  
        </span>
      </div>
    </div>
  </div>
  <div class="spacer">
    <div class="roundfield ">
      <span class="title">
        message
      </span>
      
      <div class="roundfield-content">
        <div class="usertext">
          <div class="usertext-edit" style="margin-left:0px;height:130px">
            <div>
              <textarea rows="1" cols="1" name="text" id='msgTxt'> </textarea>
       	 </div>
           
    <br class="clear">
  </div>
  <div class="spacer">
  </div>

  <div id='idenContainer' >
    <img src='' id='idenImg' alt='enter in the text'  />
    <i id='refreshCaptcha' class="fa fa-refresh"></i>
    <div class="roundfield-content">
          <input type='text' id='captcha' placeholder='enter the text above'/>
      
    </div>

  </div>


  <div class="spacer">
  </div>

  <button id="send" name="send" type="submit">
    send
  </button>
  <span class="status"></span>
  <span class="error"></span>
</form>