

<div id='downloadFrame'>

<div id='downloadTitle'> 
<h1>Download Images from Subreddit</h1>
</div>

<div class='inputContainer'>
<label for='subName'> Subreddit: </label>
<input type='text' id='subName' name='subName'  value= "{{subName}}" placeholder="ex:funny"  />
</div>
<div class='inputContainer'>
<label for='collectionLength'> Count: </label>
<select id='collectionLength' name='collectionLength'>
  <option selected='selected'>50</option>
  <option>100</option>
  <option>200</option>
  <option>300</option>
  <option>400</option>
  <option>500</option>
  <option>600</option>
  <option>700</option>
  <option>800</option>
  <option>900</option>
  <option >1000</option>
</select>
</div>

<button id='startDownload' class="blueBtn">Start</button>
<div id='statusBox'></div>


<div id='infoBoxRow'>
<div class='infoBox'>
<div class='infoBoxLbl'>Total</div>
<div class='infoBoxNum' id='postsCount'>0</div>
</div>

<div class='infoBox'>
<div class='infoBoxLbl'>Pending</div>
<div class='infoBoxNum' id='pendingCount'>0</div>
</div>

<div class='infoBox'>
<div class='infoBoxLbl'>Success</div>
<div class='infoBoxNum' id='successCount'>0</div>
</div>

<div class='infoBox'>
<div class='infoBoxLbl'>Errors*</div>
<div class='infoBoxNum' id='errorCount'>0</div>
</div>

</div>

<ul class='footnote'>
    <li>This will download all of the images in a particular subreddit.</li>
    <li>This will only work for subreddits that contain hotlinked images.</li>
    <li>Subreddits that contain a lot of gifs may take really really long to download</li>
    <li>*Errors occur when the domain does not have <a target='_blank' data-bypass href='http://en.wikipedia.org/wiki/Cross-origin_resource_sharing'>CORS</a> enabled</li>
</ul>
<div id='testCollection'>test</div>
</div>




