<div id='sr-display'></div>

<div id="header">

    <div id='mobileCenter'>
        <span id='hotornew'>
        <i class="fa fa-bullseye orange" ></i>
        <ul id='mSortPickerBox' class="mdropdown" >
            <li class="dditem selected"><a class='hot' href="/hot/"> hot </a> </li>
            <li class="dditem"><a class='new' href="/new/">new</a></li>
            <li class="dditem"><a class='rising' href="/rising/">rising</a> </li>
            <li class="dditem"><a class='top' href="/top/">top</a></li>
            <li class="dditem"><a class='controversial' href="/controversial/">controversial</a></li>
        </ul>
    </span>


        <span id='mobileChangeView'>
        <i class="fa fa-bar-chart-o purple"></i>
        <ul id='mViewPickerBox' class="mdropdown" >

                 <li id='normal' data-name='normal' class="selected dditem">
                        <a class='normal' href="#">Normal</a>
                  </li>
                <li id='small' data-name='small' class="dditem">
                    <a class='small-thumbnails' href="#">Thumbnails</a>
                </li>
                  <li id='grid' data-name='grid' class="dditem">
                    <a class='grid' href="#">Grid</a>
                </li>


        </ul>

    </span>
    </div>


    <div id="sr-header-area">
        <div class="width-clip">
            <div class="dropdown srdrop drop-down-header-toggle">
                <span class="selected title exploreLink"><i class="fa fa-list"></i></span>
            </div>

            <!-- append subreddits here -->
            <div class="drop-choices srdrop drop-down-header"></div>

            <div id='mobileFrontLink'>
                <a href='/' title='reddit front page'> <i class="fa fa-home"></i> 
                </a>
            </div>
            <div id='mobileOptions'>
                <span id='mobileUserBar'></span>
            </div>





        </div>


    </div>



    <div id='popupWindow'></div>
