<div class='block'>
        <a data-id='{{model.name}}' class=''  href="{{model.url}}" >
                {{#if model.smallImg}}
                        <img class='gridLoading' src='/img/play-btn.png' />
                        <img class='mainGridImg' src="{{model.smallImg}}" />
                {{else}}
                        <img class='mainGridImg' src="{{model.imgUrl}}" />
                {{/if}}
        </a>
        <div class='textGridTitle'>
                {{#unless model.imgUrl}}
                <img class='gridThumb' src="{{model.thumbnail}}" />
                {{/unless}}

                <a href="{{model.permalink}}" >{{{model.title}}}</a></div>
</div>