<div class='large-thumb'>

    <div  class="thing {{evenOrOdd}} link">
        <span class="rank" style="width:3.30ex;">{{count}}</span>
        <div class="midcol {{voted}} " style="width:5ex;">
            <div data-id='{{id}}' class="arrow upArrow {{upmod}}" role='button' aria-label="upvote" tabindex="0">
            </div>
            <div class="score dislikes">
                 {{scoreDown}}
            </div>
            <div class="score unvoted">
                 {{score}}
            </div>
            <div class="score likes">
                 {{scoreUp}}
            </div>
            <div data-id='{{id}}' class="arrow downArrow {{downmod}}" role="button" aria-label="downvote" tabindex="0">
            </div>
        </div>

        <a class="thumbnail" {{external}} href="{{url}}" target="_blank"><img  class='small-thumb-for-large-view' src="{{thumbnail}}" ></a>

        <div class="entry {{voted}}">
            <p class="title">
                <a class="title loggedin" {{external}} href="{{url}}" target="_blank">{{{title}}}</a><span class="domain">(<a href="/domain/{{domain}}/">{{domain}}</a>)</span>
            </p>
            <p class="tagline">
                submitted <time datetime "{{timeugly}}" " title="{{timePretty}}">{{timeAgo}}</time> ago by <a class="author" href "/user/{{author}}" " target="_blank">{{author}}</a>
                <span class="userattrs"></span>to <a href="/r/{{subreddit}}/" class="subreddit hover">{{subreddit}}</a>
            </p>
            <ul class="flat-list buttons">

                <li class="first">
                <a class="comments" href="{{permalink}}"  target="_blank">{{num_comments}} comments</a>
                </li>

                <li class="share">
                <span class="share-button toggle"><a class="option active login-required" href="#">share</a></span></li>
                <li>

                <span class="state-button save-button" >
                     {{#if saved}}
                        <span  class='unsave' ><a href='#'>unsave</a></span>
                        <span  class='save' style='display:none;'><a href="#" >save</a></span>
                    {{else}}
                        <span class='unsave' style='display:none;'><a href='#'>unsave</a></span>
                        <span class='save'><a href="#" >save</a></span>
                    {{/if}}
                </span>
                </li>

                <li>
                <span class="state-button hide-button" >
                   <span><a href="#" class='hide'>hide</a></span>
                </span>
                </li>
                <li>
                <span class="toggle remove-button">
                    <span class="option main active">
                    <a href="#"  class="togglebutton report">report</a></span>
                    <span class="option error reportConfirm">are you sure? <a href="#"  class="reportConfirmYes yes">yes</a> / <a href="#" class="no reportConfirmNo" >no</a></span>
                </span>
                </li>
            </ul>
        </div>

<div class='large-thumblink'>
    <img class='large-img dragImg' alt="" src="{{imgUrl}}"/>  
</div>

 </div>



   
</div>