<div class='block'>
        <a data-id='{{model.name}}' class=''  href="{{model.url}}" >
                {{#if model.smallImg}}
                        <img class='gridLoading' src='/img/play-btn.png' />
                        <img class='mainGridImg' src="{{model.smallImg}}" />
                {{else}}
                        <img class='mainGridImg' src="{{model.imgUrl}}" />
                {{/if}}



        </a>
        <div class='textGridTitle'>

        <div class="midcol {{model.voted}} midcolGrid" style="width:5ex;">
            <div class="arrow login-required upArrow {{model.upmod}}" role='button' aria-label="upvote" tabindex="0"></div>
           <div data-id='{{model.id}}' class="arrow login-required downArrow {{model.downmod}}" role="button" aria-label="downvote" tabindex="0"></div>
        </div>


            {{#unless model.imgUrl}}
                <img class='gridThumb' src="{{model.thumbnail}}" />
                {{/unless}}
                <a href="{{model.permalink}}" >    {{{model.title}}}</a></div>
</div>