<form id='preftable'>
<table class="content preftable">
<tbody>

<tr><th>Site Options</th>
<td class="prefright">


<input name="showSidebar" id="showSidebar" type="checkbox">
<label class="" for="showSidebar">Show <b>sidebar.</b></label>



</td></tr>

<tr><th>Subreddit Options</th>
<td class="prefright">
<input name="infin" id="infin" type="checkbox" >
<label class="" for="infin"><b>Subreddit infinite scroll</b></label>


<br><input name="hideSelf" id="hideSelf" type="checkbox" >
<label class="" for="hideSelf"><b>Hide Self Posts and links </b> in subreddit grid mode.</label>


<tr><th>Comment Page Options</th>
<td class="prefright">
<input name="btmbar" id="btmbar" type="checkbox" >
<label class="" for="frame"><b>Bottom bar</b>  *Displays the thumbnails of that post in the bottom bar on a comment page.</label>


<br><input name="cmtLoad" id="cmtLoad" type="checkbox">
<label class="" for="cmtLoad"><b>Comment image/video preview</b> *Hover over a picture or video and it reveals itself to you.</label>

</td></tr>

<tr><th>Links</th>
<td class="prefright">

display<select name="linkCount" id='linkCount' style="margin: 0 .5em 0 .5em">
	<option>10</option><option>25</option><option>50</option><option >100</option></select>links at once
	
	
</td>

</tr>

<tr><th>Theme Options</th>
<td class="prefright">

<br><input name="cssType" id="noCSS" type="radio" >
<label for="noCSS"><b>Use plain reddit css everywhere</label>

<br><input name="cssType" id="useSrStyles" value='useSrStyles' type="radio" >
<label for="useSrStyles"><b>Custom CSS</b> from the active subreddit.</label>

<br><input name="cssType" id="nightmode" value='nightmode' type="radio">
<label for="nightmode">Enable <b>nightmode.</b></label>

<br><input name="cssType" id="useSrEverywhere" value='useSrEverywhere' type="radio">
<label for="useSrEverywhere">Use a subreddits CSS all throughout the site</label>
<input type='text' name='useSrEverywhereTxt' id='useSrEverywhereTxt' value='{{useSrEverywhereTxt}}' placeholder='subreddit name' />



<br/>
<div class="apply-preferences">Apply Preferences</div>
</td>
</tr>



</tbody>
</table>
</form>
