<div class="spacer">
            <form action="/search" id="search" name="search">
                <input class='sidebarSearch' name="q" placeholder="search reddit" type="text">
            </form>
        </div>

        <div class="spacer">
                <div id='theLogin'> </div>
        </div>

        <div class="spacer">
            <div class="sponsorshipbox"></div>
        </div>

        <div class="spacer">
            <div class="sidebox submit submit-link">
                <div class="morelink">
                    {{#if isFront }}
                         <a href="/submit/">Submit a new link</a>
                    {{else}}
                         <a href="/r/{{display_name}}/submit/">Submit a new link</a>
                    {{/if}}
                    <div class="nub"></div>
                </div>
            </div>
        </div>

        <div class="spacer">
            <div class="titlebox">
                <h1 class="hover redditname"><a class="hover" href="/r/{{display_name}}/">{{display_name}}</a></h1>
                <span class="subscribe-button fancy-toggle-button toggle" data-sr_name="{{display_name}}" >
                {{#if user_is_subscriber}}
                               <a class="option active remove" href="#" tabindex="100">unsubscribe</a>
                {{else}}
                              <a class="option active add" href="#" tabindex="100">subscribe</a>    
                    
                {{/if}}
                <a class="option add" href="#">subscribe</a></span><span class="subscribers"><span class="number">{{subscribers}}</span>
                <span class="word">readers</span></span>

                <p class="users-online" title="logged-in users viewing this subreddit in the past 15 minutes">
                <span class="number">{{accounts_active}}</span> <span class="word">users here now</span></p>

                <form action="#" class="usertext" id="form-{{name}}" name="form-{{name}}">
                    <input name="thing_id" type="hidden" value="{{name}}">

                    <div class="usertext-body">
                        <div class="md">
		{{{description_html}}} 
                        </div>
                    </div>
                </form>

                <div class="bottom">
                    <span class="age">a community for <time datetime="{{timeUgly}}" title="{{timePretty}}">{{timeAgo}}</time></span>
                </div>

                <div class="clear"></div>
            </div> 
        </div>

        <div class="spacer">
            <iframe frameborder="0" id="ad_main" name="ad_main" scrolling="no" src="http://static.adzerk.net/reddit/ads.html?sr=pics#http://www.reddit.com">
            </iframe>

        </div>

        <div class="spacer">
            <div class="sidecontentbox">
                <a class="helplink"  href="/message/compose/armastevs">message me</a>

                <div class="title">
                    <h1>RedditJS</h1>
                </div>

                <ul class="contentSidebar">
                     <li >
                       <small> *An unofficial version of reddit.</small>

                    </li>
                    <li> </li>
                    <li>
                        <a  data-bypass href="https://github.com/BenjaminAdams/RedditJS" target='_blank'>Github</a><span class="userattrs"></span>
                    </li>

                    <li>
                        <a class="author" data-bypass href="https://github.com/BenjaminAdams/RedditJS/issues" target='_blank'>Report a bug/suggestions</a><span class="userattrs"></span>
                    </li>

                     <li>
                        <a href="http://www.redditjs.com/r/redditjs_meow/" title='They wouldnt give me /r/redditjs, bastards'>Follow at /r/redditjs_meow</a><span class="userattrs"></span>
                    </li>

                    <li>
                        <a href="/prefs" >Preferences</a><span class="userattrs"></span>
                    </li>         
                        
                    <li class="more">
                        <a href="/">...and stay out of trouble »</a>
                    </li>

                </ul>
            </div>
        </div>

 
 
 
 