<div id='thepost' class='sitetable'></div>

 

    <div class="panestack-title">
        <span class="title">all {{num_comments}} {{commentsPlural}}</span>

<span class='arrowNav noselect'>
<span class='leftArrow' title='Previous Post'>←</span>
 {{#if embededImg}}<span class='startSlideshow' title='Start full screen slideshow'>Slideshow</span>{{/if}}
<span class='rightArrow' title='Next post' >→</span>
<img id='arrowNavHelp' src='/img/right-arrow.png' />
</span>

    </div>
    <div class="menuarea sortCommentsMenu" style='border-bottom: none;'>
        <div class="spacer">
            <span class="dropdown-title lightdrop ">sorted by: </span>
            <div class="dropdown lightdrop toggleDropdownCmntSort">
                <span class="selected selectedCmntSort">best</span>
            </div>
            <div class="drop-choices lightdrop drop-choices-single ">
                
                <a href="#" class="choice selected">best</a>
                <a href="#" class="choice ">top</a>
                <a href="#" class="choice">new</a>
                <a href="#" class="choice">hot</a>
                <a href="#" class="choice ">controversial</a>
                <a href="#" class="choice">old</a>
                <a href="#" class="choice hidden">random</a>

            </div>
        </div>

    </div>

    <form id='mainComment'  class="usertext comment"  {{#if commentsDisabled}}style="display:none;"{{/if}}>
        <div class="usertext-edit" >
            <div>
                <textarea id="singleCommentText" rows="1" cols="1" name="text" class='text userTxtInput'></textarea>
            </div>
            <div class="bottom-area">
                <span class="help-toggle toggle" style="">
                <a   class="option active mdHelpShow" href="#" tabindex="100">formatting help</a>
                <a   class="option mdHelpHide" href="#">hide help</a></span>
                <a href="http://reddit.com/wiki/reddiquette" data-bypass class="reddiquette" target="_blank" tabindex="100">reddiquette</a>
            
            <div class="usertext-buttons">
                <button type="submit" class="save">save</button>

                <span class="status"></span>
            </div>
            </div>
    <div  class="liveTextarea" style="display:none"></div>
    <div  class="mdHelp markhelp" style="display:none"></div>
        </div>
    </form>
    <div class="gold-form gold-payment cloneable">
        <div class="roundfield">
            <button class="close-button">close</button><img src="http://www.redditstatic.com/reddit_gold-70.png" class="gold-logo">
            <div class="roundfield-content">
                <p>
                    Want to say thanks to <em>%(recipient)s</em> for this comment? Give them a month of <a href="/gold/about">reddit gold</a>.
                </p>
                <p>
                    Please select a payment method.
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="gold-checkout" data-vendor="paypal" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="custom" value="" class="passthrough"><input type="hidden" name="quantity" value="1"><input type="hidden" name="hosted_button_id" value="HDENEQ8QWLTML"><button type="submit" class="btn gold-button">PayPal</button>
                </form>
                <button class="btn coinbase-gold gold-button gold-checkout" data-vendor="coinbase">Bitcoin</button><input type="hidden" name="cbbaseurl" value="https://coinbase.com/checkouts/6d670dea8505cc8805ae2c00294599b2"><button class="btn stripe-gold gold-button">Credit Card</button>
                <div class="throbber"></div>
            </div>
        </div>
    </div>

<div id='loadingC'><img class="loadingMOAR" src="img/loading.gif" /></div>
<div id='linkedComment'> </div>
<div class='noCommentError'> </div>
<div id="siteTableComments" class="child{{name}} child">

</div>
