<div id='{{model.id}}' class="sitetable linklisting singlePostPage">
<div class="thing id-{{model.name}} {{model.evenOrOdd}} link" data-fullname="{{model.name}}" data-ups="{{model.ups}}" data-downs="{{model.downs}}">
       <p class="parent"></p>
        <div class="midcol {{model.voted}} " style="width:5ex;">
            <div data-id='{{model.id}}' class="arrow login-required upArrow{{model.id}} {{model.upmod}}" role='button' aria-label="upvote" tabindex="0"></div>
            <div class="score dislikes">
                {{model.scoreDown}} 
            </div>
            <div class="score unvoted">
                {{model.score}}
            </div>
            <div class="score likes">
                {{model.scoreUp}}
            </div>        
          <div data-id='{{model.id}}' class="arrow login-required downArrow{{model.id}} {{model.downmod}}" role="button" aria-label="downvote" tabindex="0"></div>
        </div>


    <a class="thumbnail loggedin" data-bypass href="{{model.actualUrl}}" target="_blank"><img alt="" height="52" src="{{model.thumbnail}}" width="70"></a>

        <div class="entry {{model.voted}}">
            <p class="title">
      <a class="title loggedin" data-bypass href="{{model.actualUrl}}" target="_blank">{{model.title}}</a> 
                <span class="domain">(<a href="/domain/{{model.domain}}/">{{model.domain}}</a>)</span>
            </p>

          {{{model.expandHTML}}} 

             <p class="tagline">
                 <span>{{model.score}}(<span class='orange'>{{model.ups}}</span>/<span class='purple'>{{model.downs}}</span>)</span>
                submitted <time datetime="{{model.timeUgly}}" title="{{model.timePretty}}">{{model.timeAgo}}</time> ago by <a class="author" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>

         {{#if model.author_flair_css_class}}<span class="flair flair-{{model.author_flair_css_class}}" title=""></span>{{/if}}
            
            <span class="userattrs"></span>to <a href="/r/{{model.subreddit}}/" class="subreddit hover">{{model.subreddit}}</a>
            </p>

  {{#if model.selftext_html}}
            <div class="expando">
                <form action="#" class="usertext" >
                    <div class="usertext-body">
                    
                              {{{model.selftext_html}}}
                        
                    </div>
                </form>
            </div>
  {{/if}}



          <ul class="flat-list buttons">


            
                <li class='first'>
                    <a class="comments" href="{{model.permalink}}"  target="_blank">{{model.num_comments}} comments</a>
                </li>

                <li class="share">
                <span class="share-button toggle"><a class="option active login-required" href="#">share</a></span></li>
                <li>

                <span class="state-button save-button" >
                     {{#if model.saved}}
                        <span id='unsave{{model.id}}' ><a href='#'>unsave</a></span>
                        <span id='save{{model.id}}' style='display:none;'><a href="#" >save</a></span>
                    {{else}}
                        <span id='unsave{{model.id}}' style='display:none;'><a href='#'>unsave</a></span>
                        <span id='save{{model.id}}'><a href="#" >save</a></span>
                    {{/if}}
                </span>
                </li>

                <li>
                <span class="state-button hide-button" >
                   <span><a href="#" id='hide{{model.id}}'>hide</a></span>
                </span>
                </li>
                <li>
                <span class="toggle remove-button">
                    <span class="option main active">
                    <a href="#" id='report{{model.id}}' class="togglebutton">report</a></span>
                    <span id='reportConfirm{{model.id}}' class="option error">are you sure? <a href="#" id='reportConfirmYes{{model.id}}' class="yes">yes</a> / <a href="#" id='reportConfirmNo{{model.id}}' class="no" >no</a></span>
                </span>
                </li>

            </ul>


  {{#if model.media_embed}}
<div class="expando"><div class="usertext-body"><p>
{{{model.media_embed}}}
</p>
</div></div>
  {{/if}}





        </div>
        <div class="child">
        </div>
        <div class="clearleft">
            <!--IE6sux-->
        </div>
    </div>
    <div class="clearleft">
        <!--IE6sux-->
    </div>
</div>





    <div class="panestack-title">
        <span class="title">all {{model.num_comments}} {{model.commentsPlural}}</span>

<span class='arrowNav'>
<span class='leftArrow' title='Previous Post'>←</span>
<span class='rightArrow' title='Next post' >→</span>
</span>

    </div>
    <div class="menuarea" style='border-bottom: none;'>
        <div class="spacer">
            <span class="dropdown-title lightdrop ">sorted by: </span>
            <div class="dropdown lightdrop toggleDropdownCmntSort">
                <span class="selected selectedCmntSort">best</span>
            </div>
            <div class="drop-choices lightdrop drop-choices-single ">
                
                <a href="#" class="choice selected">best</a>
                <a href="#" class="choice ">top</a>
                <a href="#" class="choice">new</a>
                <a href="#" class="choice">hot</a>
                <a href="#" class="choice ">controversial</a>
                <a href="#" class="choice">old</a>
                <a href="#" class="choice hidden">random</a>

            </div>
        </div>

    </div>

    <form  class="usertext " id='comment{{model.id}}'  >
        <div class="usertext-edit" >
            <div>
                <textarea rows="1" cols="1" name="text" id='text{{model.name}}'></textarea>
            </div>
            <div class="bottom-area">
                <span class="help-toggle toggle" style="">
                <a id="mdHelpShow{{model.id}}"  class="option active " href="#" tabindex="100">formatting help</a>
                <a id="mdHelpHide{{model.id}}"  class="option " href="#">hide help</a></span>
                <a href="http://reddit.com/wiki/reddiquette" data-bypass class="reddiquette" target="_blank" tabindex="100">reddiquette</a>
            
            <div class="usertext-buttons">
                <button type="submit" class="save">save</button>

                <span class="status status{{model.name}}"></span>
            </div>
    </div>
    <div id="mdHelp{{model.id}}" class="markhelp" style="display:none">



    </div>
        </div>
    </form>
    <div class="gold-form gold-payment cloneable">
        <div class="roundfield">
            <button class="close-button">close</button><img src="http://www.redditstatic.com/reddit_gold-70.png" class="gold-logo">
            <div class="roundfield-content">
                <p>
                    Want to say thanks to <em>%(recipient)s</em> for this comment? Give them a month of <a href="/gold/about">reddit gold</a>.
                </p>
                <p>
                    Please select a payment method.
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="gold-checkout" data-vendor="paypal" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="custom" value="" class="passthrough"><input type="hidden" name="quantity" value="1"><input type="hidden" name="hosted_button_id" value="HDENEQ8QWLTML"><button type="submit" class="btn gold-button">PayPal</button>
                </form>
                <button class="btn coinbase-gold gold-button gold-checkout" data-vendor="coinbase">Bitcoin</button><input type="hidden" name="cbbaseurl" value="https://coinbase.com/checkouts/6d670dea8505cc8805ae2c00294599b2"><button class="btn stripe-gold gold-button">Credit Card</button>
                <div class="throbber">
                </div>
            </div>
        </div>
    </div>

<div id='linkedComment'> </div>

<div id="siteTableComments" class="child{{model.name}} child">

</div>
