<style>
/*if in slideshow mode we want the btm bar to be transparent when not active*/
.transparent {
  opacity: 0;
}
#bottom-bar {
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
</style>

<div id="topBarContainer" class="noSelect">
  <div id="thepost"></div>
  <div id='controls'>
    <i id="exitBtn" class="fa fa-times" title="Exit slideshow"></i>
    <div id="slider"><input id="slide" type="range" min="2" max="60" step="1" value="{{slideShowSpeed}}" title="speed" /></div>
    <i id="togglePlayPause" class="fa {{#if slideShowPaused}}fa-play{{else}}fa-pause{{/if}}"></i>
    
    <i id="fullscreen" class="fa fa-expand" title="fullscreen"></i>
  </div>
</div>

<figure id="slideshow" class="noSelect">
  <img id="currentImg" src="{{imgUrl}}">
</figure>
