<div class='spacer'>

    <div  id='srTimeFrame'  class="menuarea">
  <div class="spacer drop-time-frame">
    <span class="dropdown-title lightdrop ">
      links from: 
    </span>
    <div class="dropdown lightdrop drop-time-frame">
      <span class="selected drop-time-frame">
      {{timeFrame}}
      </span>
    </div>
    <div class="drop-choices lightdrop drop-time-frameSR" style="display: none;">
      <a href="/r/{{subName}}/{{sortOrder}}/hour" class="choice ">    
        this hour
      </a>
      <a href="/r/{{subName}}/{{sortOrder}}/day" class="choice ">  
        today
      </a>
      <a href="/r/{{subName}}/{{sortOrder}}/week" class="choice ">
        this week
      </a>
      <a href="/r/{{subName}}/{{sortOrder}}/month" class="choice ">
        this month
      </a>
      <a href="/r/{{subName}}/{{sortOrder}}/year" class="choice ">
        this year
      </a>
      <a href="/r/{{subName}}/{{sortOrder}}/all" class="choice">
        all time
      </a>
    </div>
  </div>
</div>


<span id='siteTableContainer'></span>

	<div class="nextprev btmCenter">MOAR ›</div>
</div>