<div class="thing subreddit">
    <p class="parent">
    </p>
    <div class="midcol">
        <span class="subscribe-button fancy-toggle-button toggle" style="" data-sr_name="pics">


                {{#if user_is_subscriber}}
                               <a class="option active remove" href="#" tabindex="100">unsubscribe</a>
                {{else}}
                              <a class="option active add" href="#" tabindex="100">subscribe</a>    
                    
                {{/if}}

    </div>
    <div class="entry ">
        <p class="titlerow">
            <a href="{{rname}}" class="title">{{rname}}: {{title}}</a>
        </p>
        <div class="description">
            <form action="#" class="usertext">
                <div class="usertext-body">
                    <div class="md">
                        <p>
                            {{public_description}}
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <p class="tagline">
            <span class="score unvoted">
                <span class="number">{{subscribers}}</span>
                <span class="word">subscribers</span>
            </span> a community for {{timeAgo}}
        </p>
    </div>
    <div class="child">
    </div>
    <div class="clearleft">
        <!--IE6sux-->
    </div>
</div>