<div class="searchpane raisedbox">
    <h4 style="color:gray">search subreddits by name</h4>
<div id="previoussearch">
        <form action="/subreddits/search" id="search" role="search">
            <input type="text" name="mainQ" id='mainQ' placeholder="search reddit" value='{{model.searchQ}}'></form>
</div></div>




<div class="infobar "><div class="md"><p>click the <code>subscribe</code> or <code>unsubscribe</code> buttons to choose which subreddits appear on your front page.</p>
</div>
</div>

<div id='siteTable'> </div>