<div class="menuarea">
	<div class="spacer">
		<span class="dropdown-title lightdrop ">sorted by: </span>
		<div class="dropdown lightdrop dropdown-user">
			<span class="selected">{{sortOrder}}</span></div>
			<div class="drop-choices-user lightdrop ">
				<a href="/user/{{username}}/hot" class="choice ">hot</a>
				<a href="/user/{{username}}/new" class="choice">new</a>
				<a href="/user/{{username}}/top" class="choice ">top</a>
				<a href="/user/{{username}}/controversial" class="choice ">controversial</a>
</div></div></div>

<span id='siteTableContainer'></span>