<div class="menuarea">
	<div class="spacer">
		<span class="dropdown-title lightdrop ">sorted by: </span>
		<div class="dropdown lightdrop dropdown-user">
			<span class="selected">{{model.sortOrder}}</span></div>
			<div class="drop-choices-user lightdrop ">
				<a href="/user/{{model.username}}/hot" class="choice ">hot</a>
				<a href="/user/{{model.username}}/new" class="choice">new</a>
				<a href="/user/{{model.username}}/top" class="choice ">top</a>
				<a href="/user/{{model.username}}/controversial" class="choice ">controversial</a>
</div></div></div>

<div class='spacer'>
	<div id="siteTable" class="sitetable linklisting" >
		
	</div>
</div>