<div class="spacer">
  <div class="titlebox">
    <h1>
      {{name}}
    </h1>
    <div>
      <span class="fancy-toggle-button toggle" style="">
{{#if is_friend}}
        <a class="option add add-friend" href="#" tabindex="100">
          + friends
        </a>
        <a class="option remove active remove-friend" href="#">
          - friends
        </a>
{{else}}
        <a class="option add active add-friend" href="#" tabindex="100">
          + friends
        </a>
        <a class="option remove remove-friend" href="#">
          - friends
        </a>
{{/if}}

      </span>
    </div>
    <span class="karma">
       {{link_karma}}
    </span>
    link karma
    <br>
    <span class="karma comment-karma">
      {{comment_karma}}
    </span>
    comment karma
    <div class="giftgold">
      <a data-bypass href="https://reddit.com/gold?goldtype=gift&amp;recipient={{name}}"> give reddit gold to {{name}} to show your appreciation
      </a>
    </div>
    <div class="bottom">
      <img src="/img/mailgray.png">
      
      <a href="/message/compose/{{name}}">
        send message
      </a>
      <span class="age">
        redditor for 
        <time title="{{timePretty}}" datetime="{{timeUgly}}">
         {{timeAgo}}
        </time>
      </span>
    </div>
    <div class="clear">
    </div>
  </div>
</div>

</div>
