   <div id="userbar-logged-in" >
   <div id='loggedIn'>
        <span class="user"><a href="/user/{{model.name}}/">{{name}}</a>
            (<span id='userkarma' class="userkarma" title="link karma">{{link_karma}}</span> -  <span id='userCommentkarma' class="userkarma" title='comment karma'>{{comment_karma}}</span>)

            <span class="separator">|</span>
            <a class="nohavemail" href="/message/inbox/" id="mail" title="no new mail">messages</a>
            <span class="separator">|</span>


        <ul class="flat-list hover">
            <li>
                <a class="pref-lang" href="/prefs/">preferences</a>
            </li>
        </ul><span class="separator">|</span>

        <form class="logout hover" >
                <a href="#">logout</a>
        </form>
        </span>
        </div>
        <div id='loggedOut'>
            <div id="userbar-logged-out"><span class="user">want to join? <a class="login-required" href="#">login or register</a> in seconds</span></div>
        </div>
    </div>








