   
    <span id="userbar-logged-in" >
        <span class="user" id='loggedIn'>
            
            <a href="/user/{{name}}/" title='{{name}} {{link_karma}} / {{comment_karma}}'><i class="fa fa-user"></i></a>
            <a class="nohavemail" href="/message/inbox/" id="mail" title="no new mail">messages</a>
             <a class="pref-lang" href="/prefs/"><i class="fa fa-cog orange"></i></a>

        <form class="logout hover" >
                <a href="#" title='logout'><i class="fa fa-sign-out purple"></i></a>
        </form>
        </span>
 </span>
 <span id='loggedOut'>
             <a class="pref-lang" href="/prefs/"><i class="fa fa-cog orange"></i></a>
            <span id='signInUserbar' class="fa fa-sign-in blue"></span>
        </div>
</span>








